#content .tab #firmware-selector {
  .checkbox label {
    flex: 1;
  }

  .note {
    margin-bottom: 7px;
  }
}

#firmware-selector {
  .checkbox {
    float: none;
    width: auto;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 0;

    span:last-child {
      margin-left: 5px;
      color: var(--text-primary);
    }
  }

  .center-wrapper {
    width: 50%;
    margin: auto;

    @media only screen and (width <= 768px) {
      width: 100%;
    }
  }

  .red {
    color: var(--accent-pink);
  }

  .default-btn {
    margin-bottom: 10px;
  }

  .default-btn:last-child {
    margin-bottom: 0;
  }

  .alert {
    table {
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: bold;

      td {
        padding-right: 5px;
        color: var(--text-primary);
      }
    }

    a {
      color: var(--accent-cyan);
      text-decoration: underline;
      font-weight: bold;

      &:hover {
        color: var(--accent-purple);
      }
    }
  }
}
