.not-in-sync::before {
  content: '*';
  color: var(--accent-pink);
  font-weight: bold;
}

fieldset:not(:first-child) {
  margin-top: 10px;

  legend {
    width: 100%;
    border-bottom: 2px solid var(--accent-blue);
    padding-top: 0px;
    padding-bottom: 7px;
    color: var(--accent-cyan);
    font-weight: 600;
  }
}
