.number-text {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .disabled {
    width: 43px;
    padding: 0 5px;
    background: rgba(20, 24, 41, 0.4);
    color: var(--text-tertiary);
    border: 2px solid var(--accent-blue);
    border-radius: 3px;
  }

  span.label {
    margin-left: 3px;
    float: left;
    color: var(--text-secondary);
  }
}
