@import '../../variables';

.button-bar {
  z-index: 200;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(20, 24, 41, 0.95), rgba(20, 24, 41, 0.9));
  backdrop-filter: blur(10px);
  box-shadow: 0 -4px 20px rgba(0, 243, 255, 0.15);
  padding: 1rem 2rem;
  overflow: hidden;
  border-top: 1px solid var(--border-dim);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media only screen and (width <= 600px) {
    padding-bottom: 0;
    padding-top: 8px;
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &.buttons-right {
      align-items: flex-end;
      flex-direction: row-reverse;
    }

    &.buttons-left {
      justify-content: flex-start;
      margin-left: 20px;

      @media only screen and (width <= 600px) {
        margin-left: 10px;
      }
    }

    &.mobile-show {
      display: none;
    }
  }

  @media only screen and (width <= 600px) {
    flex-direction: column-reverse;

    & > div {
      justify-content: flex-start;

      &.buttons-bottom,
      &.buttons-left,
      &.buttons-right {
        margin-bottom: 8px;
        margin-left: 5px;
        margin-right: 5px;

        .generic-button {
          flex: 1;
          margin-left: 2px;
          margin-right: 2px;

          button {
            width: 100%;
          }
        }

        &.mobile-show {
          display: flex;

          button {
            margin-bottom: 8px;
          }
        }
      }

      &:first-child {
        margin-bottom: 0;
      }
    }
  }

  @media only screen and (width <= 600px) {
    .generic-button button {
      margin-right: 10px;
    }
  }
}
